<!-- Page Content -->
<div class="container main-container">

  <!-- Jumbotron Header -->
  <header class="my-4">
      <h1 class="display-3"> <b>Teste Contato! </b></h1>
      
      
      
  </header>

  <form class="mbr-form" [formGroup]="menuForm">
      <div class="row row-sm-offset">

          <div class="col-md-4 multi-horizontal" data-for="email">
              <div class="form-group">
                  <label class="form-control-label mbr-fonts-style display-7">Menu</label>
                  <input type="email" class="form-control" name="Menu" [ngModel]="menu?.name" formControlName="name">
              </div>
          </div>
          <div class="col-md-4 multi-horizontal" data-for="phone">
              <div class="form-group">
                  <label class="form-control-label mbr-fonts-style display-7">Link</label>
                  <input type="text" class="form-control" name="Link" [ngModel]="menu?.link" formControlName="link">
              </div>
          </div>
      </div>
      <!-- <div class="form-group" data-for="message">
          <label class="form-control-label mbr-fonts-style display-7">Descrição</label>
          <textarea type="text" class="form-control" name="Descrição" rows="7"></textarea>
      </div> -->

      <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-form display-4" (click)="updateMenu(menuForm.value)"
          [disabled]="!menuForm.valid">Confirmar Editar</button> -

          <button class="btn btn-danger" (click)="postMenu(menuForm.value)"
          [disabled]="!menuForm.valid || menuForm.value.id" >CRIAR MENU</button>

          
      </span>
  </form>

  <table  class="row-border table table-bordered table-hover dataTable dtr-inline collapsed" aria-describedby="example2_info">
    <thead>
        <tr>
          <th>ID</th>
          <th>MENU</th>
          <th>LINK</th>
          <th>ADMIN</th>
          <th>EXACT</th>
          <th>#</th>
        </tr>
    </thead>
            <tbody>
              <tr *ngFor="let item of Menus" >
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.link}}</td>
                <td>{{item.admin}}</td>
                <td>{{item.exact}}</td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal-default"
                    (click)="modalExcluir(item)" > Excluir </button> 
                    - 
                    <button class="btn btn-primary" (click)="populaTabelaMenu(item)"> Editar </button>
                </td>
            </tr>
        </tbody>
  </table>
  <!-- (click)="deleteItemMenuTabela(item.id) -->
</div>
<br>

  <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Excluir Menu: {{menuClicadoExcluir?.name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>tem certeza que deseja remover o menu: {{menuClicadoExcluir?.name}}</p>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-primary" (click)="deleteItemMenuTabela()" data-dismiss="modal">EXCLUIR</button>

            <button type="button" class="btn btn-default" data-dismiss="modal">SAIR</button>
          
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>