
 <!-- "node_modules/admin-lte/plugins/jquery/jquery.js", -->




  <table datatable 
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
      class="table 
      
                          row-border 
                          table-bordered 
                          table-striped 
                          dataTable 
                          dtr-inline 
                          collapsed" 
  aria-describedby="example1_info">
       <thead>
        <tr>
          <th>PROPOSTA</th>
          <th>CPF</th>
          <th>DATA ENVIO</th>
          <th>VALOR FINANCIADO</th>
          <th>TAXA ANUAL</th>
          <th>STATUS DETALHADO</th>
          <th>CANAL DE ENTRADA</th>
          <th>PRODUTO</th>
        </tr>
      </thead>
      <tbody >
          <tr *ngFor="let p of tabelaPropostaObj">
            <td>{{ p.id_proposta }}</td>
            <td>{{ p.cpf_cliente }}</td>
            <td>{{ p.datas.envio }}</td>
            <td>{{ p.valores.credito_solicitado }}</td>
            <td>{{ p.valores.taxa_juros_anual }}</td>
            <td>{{ p.status.descricao_credito }}</td>
            <td>{{ p.canal_entrada }}</td>
            <td>{{ p.produto }}</td>
        </tr>
      </tbody>
    </table>