
 <!-- "node_modules/admin-lte/plugins/jquery/jquery.js", -->

 <div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <a (click)="mudarSelectStatusDetalhado('Aprovada automaticamente')" style="cursor: pointer;">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{countDescricaoCredito}}</h3>

        <p>PROPOSTAS ENVIADAS</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a class="small-box-footer">em financiamento - detalhes <i c lass="fas fa-arrow-circle-right"></i></a>
    </div>
  </a>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>0</h3>

        <p>PROPOSTA APROVADAS</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer">em financiamento - detalhes <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>0</h3>

        <p>PROPOSTAS CONDICIONADAS</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">em financiamento - detalhes <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>0</h3>

        <p>PROPOSAS RECUSADAS</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">em financiamento - detalhes <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>

 <div class="row" style="margin-bottom: 1em; margin-top: 1.333em;">


  <div class="col-md-2 col-xs-12" >
    <label for="cboProposta">Proposta</label>
    <input type="text"  class="form-control" name="cboProposta" placeholder="Busca por Proposta" (keyup)="buscarIdProposta($event.target)"/>
  </div>


  <div class="col-md-2 col-xs-12" id="divcboProduto">
      <label for="txtProduto">Produto</label>
      <select name="cboProduto" id="cboProduto" class="form-control" (change)="buscarProdutoProposta($event.target)" >
        <option [value]="-1" >TODOS</option>
        <option [value]="produto" *ngFor="let produto of produtosSelect">{{produto}}</option>
      </select>
  </div>


  <div class="col-md-2 col-xs-12" id="divcboStatusDetalhado">
      <label for="txtBuscaStatusDetalhado">Status Detalhado</label>
      <select name="cboStatusDetalhado" id="cboStatusDetalhado" class="form-control"
      
      (change)="buscarStatusDetalhado($any($event.target).value)">
          <option [value]="-1" >TODOS</option>
          <option [value]="status_detail" 
          [selected]="status_detail == statusDetalhadoSelected"
          *ngFor="let status_detail of statusDetalhadoSelectObj">{{status_detail}}</option>
      </select>
  </div>

  <div class="col-md-2 col-xs-12" id="divBuscaNomeCliente" style="display: none;">
      <label for="txtBuscaNomeCliente">Pesquisar pelo nome</label>
      <input class="form-control" type="text" id="txtBuscaNomeCliente" placeholder="Ex: Maria Silva">
  </div>


  <div class="col-md-2 col-xs-12" id="divResponsavelEnvio" style="display: none;">
      <label for="txtBuscaResponsavelEnvio">Pesquisar por responsável pelo envio</label>
      <input class="form-control" type="text" id="txtResponsavelEnvio" placeholder="Ex: Joao Silva">
  </div>



</div>

  <table datatable 
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
      class="table 
      
                          row-border 
                          table-bordered 
                          table-striped 
                          dataTable 
                          dtr-inline 
                          collapsed" 
  aria-describedby="example1_info">
       <thead>
        <tr>
          <th>PROPOSTA</th>
          <th>CPF</th>
          <th>DATA ENVIO</th>
          <th>VALOR FINANCIADO</th>
          <th>TAXA ANUAL</th>
          <th>STATUS DETALHADO</th>
          <th>CANAL DE ENTRADA</th>
          <th>PRODUTO</th>
        </tr>
      </thead>
      <tbody >
          <tr *ngFor="let p of tabelaPropostaObj">
            <td>{{ p.id_proposta }}</td>
            <td>{{ p.cpf_cliente }}</td>
            <td>{{ p.datas.envio }}</td>
            <td>{{ p.valores.credito_solicitado }}</td>
            <td>{{ p.valores.taxa_juros_anual }}</td>
            <td>{{ p.status.descricao_credito }}</td>
            <td>{{ p.canal_entrada }}</td>
            <td>{{ p.produto }}</td>
        </tr>
      </tbody>
    </table>