<form novalidate [formGroup]="EndViaCep">
  <div  *ngIf="EnderecoRecebido != null">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">Endereço</h3>
      </div>
      <div class="card-body">
        
        <div class="row">
            <div class="form-group col-md-6">
              <label>LOGRADOURO</label>
              <input type="text" class="form-control" placeholder="Endereço"  formControlName="logradouro" [(ngModel)]="EnderecoRecebido.logradouro"
              [ngClass]="{'is-invalid': (EndViaCep.get('logradouro')?.errors && 
                    (EndViaCep.get('logradouro')?.touched || EndViaCep.get('logradouro')?.dirty)) }">

              <span class="text-danger" *ngIf="(EndViaCep.get('logradouro')?.errors?.minlength
                          && (EndViaCep.get('logradouro')?.touched || EndViaCep.get('logradouro')?.dirty))">
              <p >Preencha o campo Logradouro</p>
              </span>
            </div>

            <div class="form-group col-md-6">
              <label>COMPLEMENTO</label>
              <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]=EnderecoRecebido.complemento formControlName="complemento">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
            <label>Bairro</label>
            <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]=EnderecoRecebido.bairro formControlName="bairro">
          </div>
          <div class="form-group  col-md-6">
            <label>Cidade</label>
            <!-- <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]=EnderecoRecebido.localidade  formControlName="localidade"> -->

            <select class="form-control " placeholder="Cidade"  
                                          [(ngModel)]=EnderecoRecebido.localidade  
                                          formControlName="localidade" >
                        <option value="SUZANO">SUZANO</option>
                        <option value="CAMPOS GERAIS">CAMPOS GERAIS</option>
            </select>
           </div>
        </div>
        <div class="row">
          <div class="form-group col-md-1">
            <label>UF</label>
            <!-- <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]=EnderecoRecebido.uf  formControlName="uf"> -->
            <select class="form-control " placeholder="Cidade"  
                  [(ngModel)]=EnderecoRecebido.uf  
                  formControlName="uf" 
                  (ngModelChange)="mudarCidade($event)" >
              <option value="RO">RO</option>
              <option value="AC">AC</option>
              <option value="SP">SP</option>
              <option value="MP">MP</option>
              <option value="AM">AM</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>IBGE</label>
            <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]=EnderecoRecebido.ibge  formControlName="ibge">
          </div>
          <div class="form-group col-md-3">
            <label>GIA</label>
            <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]=EnderecoRecebido.gia  formControlName="gia">
          </div>

          <div class="form-group  col-md-3">
            <label>DDD</label>
            <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]=EnderecoRecebido.ddd  formControlName="ddd">
          </div>

          <div class="form-group col-md-2">
            <label>SIAFI</label>
            <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]=EnderecoRecebido.siafi  formControlName="siafi">
          </div>

          <div class="form-group col-md-2">
            <button class="btn btn-success">CADASTRAR</button>
          </div>
        </div>

       
      </div>
    </div>
  </div>
</form>