:root{
    cursor: default !important ;
}

.qtd{
    border-radius: 10px;
    border: 1px solid red;
    border-color: 1px solid red;
    width: 250px;
      height: 1000px;
    background-color: red;
    color: white;
  }