::ng-deep{
    .po-table-column-label-ellipsis 
    {
        width: 90%;
        height: 90%;
        text-align: center;
    }
    .po-table .po-table-header-ellipsis  {
        font-family: Roboto-Bold,sans-serif;
        font-size: 12px;
        line-height: 24px;
        border-bottom: 2px solid blue;
        color: #000000;
        height: 44px;
        text-align: left;
    }
    .po-table-header-column-manager-button  {
        color: #000000;
        font-size: 16px;
        padding: 6px;
    }
    
    .po-button{ 
        color: #000000;
        font-size: 16px;
        padding: 6px;
        border-color: blue;
        
    }
}

.card {
    max-width: 100%;
    margin: 0 auto;
   }

.inline{
    display: inline-block;
}